.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
  }
  
  .formContainer {
    text-align: center;
  }
  
  .inputText {
    margin-bottom: 2px;
  }

button {
    margin:
}
  