@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-top: 20px;
  width: 100vw;
  padding: 20px;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
}

.macroCaloriesContainer {
  border: 1px solid #ccc;
  padding: 10px;
  flex: 2; /* Adjust the flex value to control the width */
}

.macros,
.calories {
  display: flex;
  flex-direction: column;
}

.columnItem {
  margin-bottom: 10px;
}

.searchAndHistory {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1; /* Adjust the flex value to control the width */
}

.searchContent {
  border: 1px solid #ccc;
  padding: 10px;
}

.input {
  margin-bottom: 10px;
  width: 100%;
}

.foodLogs {
  overflow-y: auto;
  border: 1px solid #ccc;
}

.foodLogs ul {
  list-style: none; /* Remove default list styles */
  padding: 0; /* Remove default padding */
}

.foodLogs li {
  margin-bottom: 8px; /* Add margin between list items */
}

.searchGap {
  height: 20px; /* Adjust the height of the gap */
  grid-column: 1 / span 2; /* Spans across both columns */
}
