@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.pageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #212223;
}

.mainContent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  flex: 70%;
  padding: 20px;
  height: 85vh;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 20px;
  height: 100%;
}

.macroCaloriesContainer,
.searchContent,
.foodLogs {
  background-color: #2f3031;
  color: white;
  border-radius: 8px;
}

.macroCaloriesContainer {
  padding: 10px;
  color: white;
}

.macros,
.calories {
  display: flex;
  flex-direction: column;
}

.searchAndHistory {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}

.searchContent {
  padding: 10px;
  flex: 30%;
  overflow-y: auto;
  border-radius: 8px;
}

.history {
  font-size: 17px;
  overflow-y: auto; 
  height: 50vh;
}

.history button {
  border-radius: 5px;
  margin-left: 10px;
  width: 50px;
  color: white;
  border: none;
  background-color: rgb(202, 56, 56);
  box-shadow: 0 0 8px rgba(244, 26, 26, 0.8);
}

.input {
  margin-bottom: 10px;
  width: 100%;
  border-radius: 8px;
}

.foodLogs {
  padding: 10px;
  flex: 70%;
  border-radius: 8px;
}

.foodLogs h2 {
  text-align: center;
}

.foodLogs ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.foodLogs li {
  margin-bottom: 8px;
}

.searchGap {
  height: 20px;
  grid-column: 1 / span 2;
}


.apiInfo {
  margin-top: 2vh;
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.apiInfo p {
  margin-bottom: 0px;
}

.apiInfo h3 {
  margin-right: 10px;
}

.apiInfo button {
  border-radius: 5px;
  margin-left: 10px;
  width: 50px;
  color: white;
  border: none;
  background-color: rgb(97, 204, 97);
  box-shadow: 0 0 8px rgba(114, 238, 114, 0.8);
}

.sticky {
  position: sticky;
}
