 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.nav {
  background-color: #2f3031;
  padding: 15px;
  
}

 .nav a {
  font-weight: bold;
  position: relative;
  color: white;
  text-decoration: none; 
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.nav p {
  margin-right: 20px;
}


.logo {
  font-size: x-large;
  font-weight: bold;
  color: rgb(34, 187, 129);
}

.nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%; 
  transform: translateX(-50%); 
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
  color: white;
}

.regularNav {
  font-size: 15px;
}

/*
.navContainer {
  font-family: 'Poppins', sans-serif;
  background-color: #2f3031;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 100;
  width: 100vw;
  top: 0;
}


.customNavbarBrand{
  color: #086d6a;
  font-weight: bold;
  font-size: x-large;
}

.customNavbarBrand:hover {
  color: #086d6a;
}



.navIcons:hover {
  transform: scale(1.2);
}

.customNavLink {
  color: white;
  font-weight: bold;
}

.customNavLink:hover {
  color: rgb(172, 172, 172);
}
 */
