@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


.h1{
  margin-top: 8px;
  font-weight: bold;
}

.formContainer {
  background-color: #2f3031;
  color: white;
  text-align: center;
  width: 70vw; 
  max-width: 400px; 
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.7);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("../img/super-snapper-efJu9SKIjLA-unsplash.jpg");
  background-size: cover; /* Adjust as needed */
  background-position: center;
  font-family: 'Poppins', sans-serif;
}

.inputEmail,
.inputPassword {
  height: 40px;
  width: 100%;
  color: white;
  border: solid 1px rgb(77, 77, 77);
  border-radius: 5px;
  background-color: rgb(92, 92, 92);
  margin-top: 20px;
  box-sizing: border-box;
  font-size: 15px;
  padding-left: 15px;
  cursor: pointer;
  outline: none;
}


.loginButton {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 100%;
  height: 40px;
  padding: 10px; 
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  background-color: #61cc61;
  box-shadow: 0 0 8px rgba(114, 238, 114, 0.8);
}


.loginButton:hover {
  background-color: #59bb59;
}

.inputContainer {
  position: relative;
}

.inputLabel {
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  pointer-events: none; /* Allow clicking through the label to the input */
  color: #9d9d9d; /* Adjust the color as needed */
}

.link {
  text-decoration: none;
  font-size: 12px;
  color:  rgb(170, 170, 170);
}

.link u {
  color: white;
}

.link u:hover {
  color: rgb(94, 166, 244)
}

.registerButton {
  margin-top: 25px;
  margin-bottom: 5px;
  width: 100%;
  height: 40px;
  padding: 10px; 
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  position: relative;
  background-color: rgb(76, 86, 221);
}

.registerButton:hover {
  background-color: rgb(52, 60, 175);
}
